<!DOCTYPE html>
<html lang="en-gb">

<head>
</head>

<body class="tm-isblog tt-players-page" style="overflow-x: hidden">
    <div class="over-wrap">
        <div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
            <div class="uk-container uk-container-center">
                <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

                    <div class="uk-width-1-1 uk-row-first">
                        <div class="uk-panel">
                            <div class="uk-cover-background uk-position-relative head-wrap" style="height: 290px; background-image: url('../../images/head-bg.jpg');">
                                <img class="uk-invisible" src="../../images/head-bg.jpg" alt="" height="290" width="1920">
                                <div class="uk-position-cover uk-flex uk-flex-center head-title">
                                    <h1 class="myTeamName"><%= @club.name %></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="uk-container uk-container-center alt">
            <ul class="uk-breadcrumb">
                <li><a href="index.html">Teams</a>
                </li>
                <li><a href="index.html" class="myTeamName"><%= @club.name %></a>
                </li>
            </ul>
        </div>
        

        <div class="uk-container uk-container-center">
            <div id="tm-middle" class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                <div class="tm-main uk-width-medium-1-1 uk-row-first">
                    <main id="tm-content" class="tm-content">

                        <div class="uk-container uk-container-center tt-gallery-top">
                            <div class="uk-grid" data-uk-grid-match="">
                                <div class="uk-width-medium-3-10 uk-width-small-1-1 title"><%= @club.name %></div>
                                <!--- <div class="uk-width-medium-7-10 uk-width-small-1-1 text">[Short Description of Team]</div> --->
                            </div>
                        </div>

                        <div class="list-players-wrapper">
                            <div class="uk-sticky-placeholder">
                                <div class="button-group filter-button-group" data-uk-sticky="{top:70, boundary: true}">
                                    <div class="uk-container uk-container-center">
                                        <div class="label-menu">OUR team</div>
                                        <button class="active" data-filter="*">all
                                        </button>
                                        <button data-filter=".defender_filter">DEFENDER
                                        </button>
                                        <button data-filter=".forward_filter">FORWARD
                                        </button>
                                        <button data-filter=".goalkeeper_filter">GOALKEEPER
                                        </button>
                                        <button data-filter=".midfielder_filter">MIDFIELDER
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="list-players-wrap" id="boundary">
                                <div class="left-player">
                                    <img src="../../images/left-player-bg.png" alt="">
                                </div>
                                <div class="right-player">
                                    <img src="../../images/right-player-bg.png" alt="">
                                </div>
                                <div class="uk-container uk-container-center alt">
                                    <div class="uk-grid grid1 players-list">
                                        <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-width-small-1-2 player-item midfielder_filter">
                                            <div class="player-article">
                                                <div class="wrapper">
                                                    <div class="img-wrap">
                                                        <div class="player-number">
                                                            <span>
                                                            21                
                                                            </span>
                                                        </div>
                                                        <div class="bio">
                                                            <span>
                                                            <a href="../players/show">bio
                                                            </a>
                                                            </span>
                                                        </div>
                                                        <a href="../players/show">
                                                        <img src="../../images/494a6c4fd56d9d2af64b92b6337db693.jpg" class="img-polaroid" alt="Steven Webb" title="Steven Webb">
                                                        </a>
                                                    </div>
                                                    <div class="info">
                                                        <div class="name">
                                                            <h3>
                                                                <a href="../players/show">
                                                                Steven Webb                    
                                                                </a>
                                                            </h3>
                                                        </div>
                                                        <div class="position">
                                                            MIDFIELDER 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-width-small-1-2 player-item forward_filter">
                                            <div class="player-article">
                                                <div class="wrapper">
                                                    <div class="img-wrap">
                                                        <div class="player-number">
                                                            <span>
                                                            19                
                                                            </span>
                                                        </div>
                                                        <div class="bio">
                                                            <span>
                                                            <a href="../Players/player.html">bio
                                                            </a>
                                                            </span>
                                                        </div>
                                                        <a href="player.html">
                                                        <img src="../../images/df207a70fca3a58b07082ce9aca2c538.jpg" class="img-polaroid" alt="John Montgomery" title="John Montgomery">
                                                        </a>
                                                    </div>
                                                    <div class="info">
                                                        <div class="name">
                                                            <h3>
                                                                <a href="../Players/player.html">
                                                                John Montgomery                    
                                                                </a>
                                                            </h3>
                                                        </div>
                                                        <div class="position">
                                                            STRIKER 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-width-small-1-2 player-item goalkeeper_filter">
                                            <div class="player-article">
                                                <div class="wrapper">
                                                    <div class="img-wrap">
                                                        <div class="player-number">
                                                            <span>
                                                            35                
                                                            </span>
                                                        </div>
                                                        <div class="bio">
                                                            <span>
                                                            <a href="../Players/player.html">bio
                                                            </a>
                                                            </span>
                                                        </div>
                                                        <a href="player.html">
                                                        <img src="../../images/bd84c3b0e76d2dd99a75ac9ca2f6ec06.jpg" class="img-polaroid" alt="Johnny Thompson" title="Johnny Thompson">
                                                        </a>
                                                    </div>
                                                    <div class="info">
                                                        <div class="name">
                                                            <h3>
                                                                <a href="player.html">
                                                                Johnny Thompson                    
                                                                </a>
                                                            </h3>
                                                        </div>
                                                        <div class="position">
                                                            goalkeeper 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-width-small-1-2 player-item defender_filter">
                                            <div class="player-article">
                                                <div class="wrapper">
                                                    <div class="img-wrap">
                                                        <div class="player-number">
                                                            <span>
                                                            07                
                                                            </span>
                                                        </div>
                                                        <div class="bio">
                                                            <span>
                                                            <a href="../Players/player.html">bio
                                                            </a>
                                                            </span>
                                                        </div>
                                                        <a href="player.html">
                                                        <img src="../../images/f9bfc5bc85499506c9e18e5afb2eaf2d.jpg" class="img-polaroid" alt="Benjamin Mendoza" title="Benjamin Mendoza">
                                                        </a>
                                                    </div>
                                                    <div class="info">
                                                        <div class="name">
                                                            <h3>
                                                                <a href="player.html">
                                                                Benjamin Mendoza                    
                                                                </a>
                                                            </h3>
                                                        </div>
                                                        <div class="position">
                                                            DEFENDER 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

           
                    </main>
                </div>
            </div>
        </div>
</body>

</html>