 <!DOCTYPE html>
<html lang="en-gb">

<head>
</head>

<body class="tm-isblog tt-players-page" style="overflow-x: scroll">
    <div class="over-wrap">
        <div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
            <div class="uk-container uk-container-center">
                <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

                    <div class="uk-width-1-1 uk-row-first">
                        <div class="uk-panel">
                            <div class="uk-cover-background uk-position-relative head-wrap" style="height: 290px; background-image: url('../../images/head-bg.jpg');">
                                <img class="uk-invisible" src="../../images/head-bg.jpg" alt="" height="290" width="1920">
                                <div class="uk-position-cover uk-flex uk-flex-center head-title">
                                    <h1 class="myTeamName"><span><%=@match.team1%></span>   <%=@match.score%>   <%=@match.team2%></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="uk-container uk-container-center alt">
            <ul class="uk-breadcrumb">
                <li><a>Single Match Statistics</a>
                </li>
            </ul>
        </div>
        <div class="uk-container uk-container-center alt" style="overflow-x: scroll">
                 <div>
                    <h3 class="history-title">Match Statistics</h3>
                        <table class="stat-table">
                        <tbody>
                            <% source = File.join('app', 'assets', 'csv', @match.gameid + '.csv') %>
                            <% CSV.foreach(source, :headers => false) do |row| %>
                            <tr>
                                <% row.each do |col| %>
                                <% if col.match(/^0/) || col.match(/^1/) || col.match(/^2/) || col.match(/^3/) || col.match(/^4/) || col.match(/^5/) || col.match(/6/) || col.match(/^7/) || col.match(/^8/) || col.match(/^9/) %>
                                    <% col = col[0, 5] %>
                                <% end %>
                                <td><%=col%></td>
                                <% end %>
                            </tr>
                            <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
