        <div class="bottom-wrapper">
            <div class="tm-bottom-f-box  ">
                <div class="uk-container uk-container-center">
                    <section id="tm-bottom-f" class="tm-bottom-f uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">

                        <div class="uk-width-1-1">
                            <div class="uk-panel">
                                <div class="footer-logo">
                                    <a href="/"><img src="../../images/footer-logo-img.png" alt=""><span>FUTBOLI</span>STATS</a>
                                </div>
                                <div class="footer-socials">
                                    <div class="social-top">
                                        <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-facebook"></span></a>
                                        <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-twitter"></span></a>
                                        <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-youtube"></span></a>
                                        <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-instagram"></span></a>
                                    </div>
                                </div>
                                <div class="clear"></div>

                                <p class="footer-about-text">
                                    All statistics from FutboliStats come from WoSo Statistics (<a style="color:#00aced" href="twitter.com/wosostats">@WoSoStats</a>) and their stat trackers.  If you have extra time and would like to contribute, volunteers are always needed for various matches.  
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="tm-bottom-g-box  ">
                <div class="uk-container uk-container-center">
                    <section id="tm-bottom-g" class="tm-bottom-f uk-grid" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                        <div class="uk-width-1-1 uk-width-large-1-2">
                            <div  class="uk-panel">
                                <div class="acymailing_module" id="acymailing_module_formAcymailing54111">
                                    <div class="acymailing_fulldiv" id="acymailing_fulldiv_formAcymailing54111">
                                        <form id="formAcymailing54111" method="post" name="formAcymailing54111">
                                            <div class="acymailing_module_form">
                                                <div class="mail-title">Newsletters</div>
                                                <div class="acymailing_introtext">Subscribe to our Newsletter!</div>
                                                <div class="clear"></div>
                                                <div class="space"></div>
                                                <table class="acymailing_form">
                                                    <tbody>
                                                        <tr>
                                                            <td class="acyfield_email acy_requiredField">
                                                                <span class="mail-wrap">
                                                                    <input id="user_email_formAcymailing54111" onfocus="if(this.value == 'Enter your email') this.value = '';" onblur="if(this.value=='') this.value='Enter your email';" class="inputbox" name="user[email]" style="width:80%" value="Enter your email" title="Enter your email" type="text">
                                                            </span>
                                                            </td>
                                                        </tr>
                                                        <tr>

                                                            <td class="acysubbuttons">
                                                                <span class="submit-wrap">
                                                                    <span class="submit-wrapper">
                                                                        <input class="button subbutton btn btn-primary" value="Subscribe" name="Submit" onclick="try{ return submitacymailingform('optin','formAcymailing54111'); }catch(err){alert('The form could not be submitted '+err);return false;}" type="submit">
                                                                    </span>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <footer id="tm-footer" class="tm-footer">


                <div class="uk-panel">
                    <div class="uk-container uk-container-center">
                        <div class="uk-grid">
                            <div class="uk-width-1-1">
                                <div class="footer-wrap">
                                    <div class="foot-menu-wrap">
                                        <ul class="nav menu">
                                            <li class="item-165"><%= link_to 'About', about_path %>
                                            </li>
                                            <li class="item-166"><a href="/news">News Snippets</a>
                                            </li>
                                            <li class="item-167"><%= link_to 'Contact', contact_path %>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="copyrights">Copyright © 2016 <a href="contact.html">Messi-Coders</a>. All Rights Reserved.</div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div>

        <div id="offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-offcanvas">
                    <li class="uk-parent"><a href="index.html">Tournaments</a>
                        <ul class="uk-nav-sub">
                            <li><a href="../tournaments/2">2016 NWSL</a>
                            </li>
                            <li><a href="../tournaments/3">2016 Olympics</a>
                            </li>
                            <li><a href="../tournaments/4">2016 She Believes Cup</a>
                            </li>
                            <li><a href="../tournaments/5">International Friendlies</a>
                            </li>
                            <li><a href="../tournaments/1">2016 CONCACAF Olympic Qualifier</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="about.html">NWSL Clubs</a></li>
                    <li class="uk-parent uk-active"><a href="#">Pages</a>
                        <ul class="uk-nav-sub">
                            <li><a href="../clubs/1">Boston Breakers</a>
                            </li>
                            <li><a href="../clubs/2">Chicago Red Stars</a>
                            </li>
                            <li><a href="../clubs/3">Houston Dash</a>
                            </li>
                            <li><a href="../clubs/4">FC Kansas City</a>
                            </li>
                            <li><a href="../clubs/5">Orlando Pride</a>
                            </li>
                            <li><a href="../clubs/6">Portland Thorns FC</a>
                            </li>
                            <li><a href="../clubs/7">Seattle Reign FC</a>
                            </li>
                            <li><a href="../clubs/8">Sky Blue FC</a>
                            </li>
                            <li><a href="../clubs/9">Washington Spirit</a>
                            </li>
                            <li><a href="../clubs/10">Western New York Flash</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/news">News Snippets</a>
                    </li>
                    <li><%= link_to 'About', about_path %>
                    </li>
                    <li><%= link_to 'Contact', contact_path %>
                    </li>
                </ul>
            </div>
        </div>