    <div class="preloader">
        <div class="loader"></div>
    </div>
        <div class="tm-menu-box">

            <div style="height: 70px;" class="uk-sticky-placeholder">
                <nav style="margin: 0px;" class="tm-navbar uk-navbar" data-uk-sticky="">
                    <div class="uk-container uk-container-center">
                        <a class="tm-logo uk-float-left" href="/">
                            <img src="../../images/logo-img.png" alt="logo" title="logo"> <span>Futboli<em >Stats</em></span>
                        </a>

                        <ul class="uk-navbar-nav uk-hidden-small">
                            <li data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false"><a href="#" style="font-weight:bold">Tournaments</a>
                                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                                    <div class="uk-grid uk-dropdown-grid">
                                        <div class="uk-width-1-1">
                                            <ul class="uk-nav uk-nav-navbar">
                                                <li><a href="../tournaments/1">2016 CONCACAF Olympic Qualifier</a>
                                                </li>
                                                <li><a href="../tournaments/2">2016 NWSL</a>
                                                </li>
                                                <li><a href="../tournaments/3">2016 Olympics</a>
                                                </li>
                                                <li><a href="../tournaments/4">2016 She Believes Cup</a>
                                                </li>
                                                <li><a href="../tournaments/5">International Friendlies</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="uk-parent" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false"><a href="#" style="font-weight:bold">NWSL Clubs</a>
                                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                                    <div class="uk-grid uk-dropdown-grid">
                                        <div class="uk-width-1-1">
                                            <ul class="uk-nav uk-nav-navbar">
                                                <li><a href="../clubs/1">Boston Breakers</a>
                                                </li>
                                                <li><a href="../clubs/2">Chicago Red Stars</a>
                                                </li>
                                                <li><a href="../clubs/3">Houston Dash</a>
                                                </li>
                                                <li><a href="../clubs/4">FC Kansas City</a>
                                                </li>
                                                <li><a href="../clubs/5">Orlando Pride</a>
                                                </li>
                                                <li><a href="../clubs/6">Portland Thorns FC</a>
                                                </li>
                                                <li><a href="../clubs/7">Seattle Reign FC</a>
                                                </li>
                                                <li><a href="../clubs/8">Sky Blue FC</a>
                                                </li>
                                                <li><a href="../clubs/9">Washington Spirit</a>
                                                </li>
                                                <li><a href="../clubs/10">Western New York Flash</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="uk-parent" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false"><a href="#" style="font-weight:bold">News</a>
                                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                                    <div class="uk-grid uk-dropdown-grid">
                                        <div class="uk-width-1-1">
                                            <ul class="uk-nav uk-nav-navbar">
                                                <li><a href="/news">News Snippets</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="uk-parent" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false"><a href="#" style="font-weight:bold">About</a>
                                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                                    <div class="uk-grid uk-dropdown-grid">
                                        <div class="uk-width-1-1">
                                            <ul class="uk-nav uk-nav-navbar">
                                                <li><%= link_to 'About', about_path %>
                                                </li>
                                                <li><%= link_to 'Contact', contact_path %>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                                  <div class="container-4">
                                    <input type="search" id="search" placeholder="Search..." />
                                    <button class="icon"><i class="fa fa-search"></i></button>
                                  </div>
                            
                        </ul>
                        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
                    </div>
                </nav>
            </div>

        </div>